body {
  margin: 0;
  padding: 0;
}

#write-cover-letter {
  position: static;
  top: 0;
  right: 0;
  width: 300px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

button#write-cover-letter {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

textarea#write-cover-letter {
  width: 98%;
  height: 90%;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none;
}
