body {
  width: 30vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

button#write-cover-letter {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

textarea#cover-letter-text {
  width: 98%;
  height: 90%;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none;
}
